[Unit]
Description=Varlink Service Resolver and Activator 
Requires=org.varlink.resolver.socket

[Service]
Type=simple
ExecStart=/usr/bin/org.varlink.resolver unix:/run/org.varlink.resolver /usr/lib/fedora.json

[Install]
WantedBy=multi-user.target
Also=org.varlink.resolver.socket
