[Unit]
Description=Varlink Interface Resolver

[Socket]
ListenStream=/run/org.varlink.resolver
Service=com.redhat.resolver.service

[Install]
WantedBy=sockets.target
